<label *ngIf="label" class="form-group">
  {{ label }}
  <input
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="formControl"
    [class.invalid]="submitted && formControl.invalid"
  />
</label>
<div class="form-error" *ngIf="submitted && formControl.invalid">
  <small *ngIf="formControl.errors?.['required']">{{ label }} is required</small>
  <small *ngIf="formControl.errors?.['minlength']">
    Must be at least {{ formControl.errors?.["minlength"].requiredLength }}
    characters
  </small>
  <small *ngIf="formControl.errors?.['email']">Invalid email address</small>
</div>
