<div class="register">
  <h2 class="register__title">Sign up</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <app-form-input
      [label]="'Username'"
      [control]="registerForm.controls['username']"
      [placeholder]="'Enter your username'"
      [submitted]="submitted"
    ></app-form-input>

    <app-form-input
      [label]="'Password'"
      [control]="registerForm.controls['password']"
      [type]="'password'"
      [placeholder]="'Enter your password'"
      [submitted]="submitted"
    ></app-form-input>

    <!-- Backend error -->
    <div class="error backend-error" role="alert" *ngIf="backendError">
      {{ backendError }}
    </div>

    <app-button type="default" nativeType="submit" [disabled]="loading">
      {{ loading ? "Signing up..." : "Sign up" }}
    </app-button>
  </form>
</div>
