<div class="store">
  <button
    type="button"
    class="store__icon-btn"
    [class.hidden]="isLauncherHidden$ | async"
    [attr.aria-expanded]="(isOpenStore$ | async) === true"
    aria-label="Open store"
    (click)="toggleStore()"
  >
    <img
      class="store__icon"
      src="assets/svg/basket.svg"
      alt=""
      [width]="50"
      [height]="50"
      draggable="false"
    />
  </button>
  <div class="store__modal" [class.open]="isOpenStore$ | async">
    <div class="store__header">
      <div class="store__balance">
        <span>Balance:</span>
        <strong>{{ clicker.myCoins$ | async | number: "1.0-2" }}</strong>
        <img src="assets/svg/coin.svg" alt="coin" [width]="32" [height]="32" />
      </div>
      <button
        type="button"
        class="store__icon-close"
        aria-label="Close store"
        (click)="toggleStore()"
      >
        <img src="assets/svg/cross.svg" alt="" draggable="false" />
      </button>
    </div>
    <div class="store__content">
      <app-button
        [disabled]="(canBuyStrongClick$ | async) === false"
        (btnClick)="buyStrongClick()"
      >
        <span class="btn-content">
          Strong click + {{ clicker.ratioGame$ | async }}
          <div class="price">
            {{ clicker.priceStrongClick$ | async }}
            <img src="assets/svg/coin.svg" alt="" [width]="12" [height]="12" />
          </div>
        </span>
      </app-button>

      <app-button
        [disabled]="(canBuyAutoClick$ | async) === false"
        (btnClick)="buyAutoClick()"
      >
        <span class="btn-content">
          Auto click + {{ clicker.ratioGame$ | async }}
          <div class="price">
            {{ clicker.priceAutoClick$ | async }}
            <img src="assets/svg/coin.svg" alt="" [width]="12" [height]="12" />
          </div>
        </span>
      </app-button>

      <app-button
        [type]="'danger'"
        class="progress-reset"
        [disabled]="(canResetProgress$ | async) === false"
        (btnClick)="resetProgress()"
      >
        <span class="btn-content" style="justify-content: center">
          <span>
            <strong>Reset</strong> {{ clicker.resetGamePrice$ | async }}
          </span>
          <img src="assets/svg/coin.svg" alt="" />
        </span>
      </app-button>
    </div>
  </div>
</div>
