<div class="clicker">
  <h3>My coins: {{ clicker.myCoins$ | async }}</h3>

  <div class="clicker__wrapper">
    <button
      type="button"
      class="clicker__wrapper-main-item"
      aria-label="Click the coin to earn coins"
      [disabled]="(isCovered$ | async) === true"
      (click)="increment($event)"
    >
      <img
        #clickItem
        class="clicker__main-item"
        src="assets/svg/coin.svg"
        alt=""
        width="200"
        height="200"
        draggable="false"
      />
    </button>

    <div
      *ngFor="let popup of popups"
      class="clicker__popup"
      [ngStyle]="{ left: popup.x + 'px', top: popup.y + 'px' }"
    >
      +{{ popup.value }}
    </div>
  </div>

  <div class="clicker__auto-click">
    <span> clicks per second: {{ clicker.autoBonus$ | async }} </span>
  </div>
</div>
