<div class="auth">
  <div
    class="auth__account"
    [class.hidden]="isLauncherHidden$ | async"
    *ngIf="user$ | async as user; else signedOut"
  >
    <span class="auth__username">{{ user.username }}</span>
    <button type="button" class="auth__signout" (click)="signOut()">
      Sign out
    </button>
  </div>

  <ng-template #signedOut>
    <button
      type="button"
      class="auth__icon-btn"
      [class.hidden]="isLauncherHidden$ | async"
      [attr.aria-expanded]="(isOpenAuth$ | async) === true"
      aria-label="Sign in"
      (click)="toggleAuth()"
    >
      <img
        class="auth__icon"
        src="assets/svg/sign-in.svg"
        alt=""
        [width]="50"
        [height]="50"
        draggable="false"
      />
    </button>
  </ng-template>

  <div class="auth__modal" [class.open]="isOpenAuth$ | async">
    <div class="auth__header">
      <button
        type="button"
        class="auth__icon-close"
        aria-label="Close"
        (click)="toggleAuth()"
      >
        <img src="assets/svg/cross.svg" alt="" draggable="false" />
      </button>
    </div>

    <div class="auth__main">
      <app-register
        *ngIf="isRegister; else isLogin"
        (authenticated)="onAuthenticated()"
      ></app-register>

      <ng-template #isLogin>
        <app-login (authenticated)="onAuthenticated()"></app-login>
      </ng-template>

      <div class="handle-form">
        <span>{{
          isRegister ? "Already have an account?" : "Don't have an account?"
        }}</span>
        <button type="button" class="handle-form__switch" (click)="handleForm()">
          {{ isRegister ? "Sign in" : "Sign up" }}
        </button>
      </div>
    </div>
  </div>
</div>
